{% extends 'base.html' %}

{% block content %}


    <div class="container" align="center">
        
        <br>
        <h1>
            <span class="material-symbols-rounded vertical-align-middle padding-bottom-3">
                group
            </span>
            GROUPS
        </h1>


        <div>
            <br><br>
            <table style="width: 90%; text-align: left;">

                <tr>

                    <th>
                        <span class="material-symbols-rounded vertical-align-middle padding-bottom-3">
                            title
                        </span>
                    </th>

                    <th>
                        <span class="material-symbols-rounded vertical-align-middle padding-bottom-3">
                            face
                        </span>
                    </th>

                    <th>
                        
                    </th>

                    <th>
                        
                    </th>
                
                </tr>



                <tr div="table-form">

                    <form action="/groups" method="POST">
                        <td>
                            <input class="table-form-input table-form" type="text" name="name" placeholder="Name">
                        </td>
                        <td></td>
                        <td>
                            <input class="table-form-input table-form" type="text" name="description" placeholder="Description">                       
                        </td>
                        <td>
                            <button class="table-form-button table-form">
                                <span class="material-symbols-rounded vertical-align-middle padding-bottom-3" style="font-size: 30px !important">
                                    group_add
                                </span>
                            </button>
                        </td>
                    </form>

                </tr>

                
                {% for x in data %}

               
                    <tr>
                        <td>{{x["name"]}}</td>
                        
                        <td>{{x["user_count"][0][0]}}</td>
                        <td class="tooltip"> 
                            <span class="tooltip material-symbols-rounded vertical-align-middle padding-bottom-3">
                                description
                            </span>
                            <span class="tooltiptext">{{x["description"]}}</span>
                            
                        </td>
                        <td>
                            <a href="/groups/delete?id={{x['id']}}">
                                <span class="material-symbols-rounded vertical-align-middle padding-bottom-3">
                                    delete
                                </span>
                            </a>
                        </td>
                    </tr>

                {% endfor %}

            </table>

            <br><br>

        </div>

 

        </form>
    </div>

{% endblock %}