<tr>
    <td align="left" width="25%" style="color: |?|COLOR-TEXT|?|; padding: 6px 12px;font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">|?|HEADER|?|</td>
    <td align="left" width="40%" style="color: |?|COLOR-TEXT|?|; padding: 6px 12px;font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">|?|TEXT|?|</td>
    <td align="left" width="35%" style="color: |?|COLOR-TEXT|?|; padding: 6px 12px;font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px;">|?|IMAGE|?|</td>
</tr>
