nav {
    font-weight: 600 !important;
}

button {
    font-weight: 600 !important;
}

select {
    font-weight: 600 !important;
}

input {
    font-weight: 600 !important;
}

label {
    font-weight: 600 !important;
}


.card {
    font-weight: 600 !important;
}

